<section class="main-sessions sessions-signin">
  <div class="container">
    <div class="sessions-formcard">
      <h2><%= t '.title' %></h2>
      <p>If you have an account with us, sign in with your email and password.</p>
      <%= render partial: '/sessions/form' %>
    </div>
  </div>
</section>
