<div class="sessions-formcard-emailfield">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="sessions-formcard-emailfield-passwordfield">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>
