button,
.button,
input[type="submit"] {
  @extend %button;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
