body {
  @include font-feature-settings("kern","liga","frac", "pnum");
  -webkit-font-smoothing: antialiased;
  background-color: $stone;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: $base-line-height;

  @media screen and (min-width: 40em) {
    font-size: $base-font-size * 1.0625;
  }

  @media screen and (min-width: 60em) {
    font-size: $base-font-size * 1.1875;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
  line-height: $header-line-height;
  font-weight: 700;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3,
h4,
h5,
h6 {
  font-size: $h3-font-size;
}

p {
  margin: 0 0 $base-spacing;
  font-weight: 700;
}

a {
  @include transition(color 0.1s linear);
  color: $base-link-color;
  outline-color: $fire;

  &:hover,
  &:active,
  &:focus {
    color: $hover-link-color;
  }
}

hr {
  border-bottom: 3px solid $base-font-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
