<form class="audit-form" action="/results" method="get" novalidate>
  <fieldset>
    <label for="url">URL to Test</label>
    <%= url_field_tag :url, @url, placeholder: 'http://www.example.com',
      required: true %>
    <p class="help-text">Try auditing <%= link_to "W3C's example of an inaccessible site", results_path(url: "http://www.w3.org/WAI/demos/bad/before/home.html") %></p>
    <button type="submit">Run Audit</button>
  </fieldset>
</form>
