<footer class="app-footer" role="contentinfo">
  <div class="app-footer-inner">
    <div class="container">
      <h1 class="app-footer-title">
        <%= render 'shared/logo_accesslint.svg' %>
      </h1>
      <h3 class="app-footer-copyright">access lint © 2014</h3>

      <nav class="app-footer-navigation">
        <ol class="footer-navigation-list">
          <li class="footer-navigation-list-item"><%= link_to "GitHub", "https://github.com/accesslint" %></li>
          <li class="footer-navigation-list-item"><%= link_to "Twitter", "https://twitter.com/accesslint" %></li>
        </ol>
      </nav>
    </div>
  </div>
</footer>
