<footer class="app-footer" role="contentinfo">
  <div class="container">
    <nav>
      <ol>
        <li><%= link_to "GitHub", "https://github.com/accesslint" %></li>
        <li><%= link_to "Twitter", "https://twitter.com/accesslint" %></li>
      </ol>
    </nav>
  </div>
</footer>
