<svg version="1.1"
  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  width="193.1038px" height="91.9557px" viewBox="0 0 193.1038 91.9557"
  alt="W3C" aria-labelledby="W3C">
  <title>W3c®</title>
  <desc>The World Wide Web Consortium (W3C) is an international community where Member organizations, a full-time staff, and the public work together to develop Web standards.</desc>
  <path d="M45.7206,0.5145l16.3696,55.6549L78.4598,0.5145h11.853h32.526v5.5314l-16.7078,28.7854
    c5.8696,1.8845,10.3095,5.3097,13.3197,10.2754c3.0101,4.9657,4.5166,10.7984,4.5166,17.4952c0,8.28-2.2,15.2411-6.603,20.8862
    c-4.4029,5.6451-10.1049,8.4648-17.1029,8.4648c-5.2699,0-9.8604-1.6742-13.7716-5.0226c-3.914-3.3484-6.8105-7.8821-8.6922-13.6039
    l9.255-3.8373c1.3558,3.4621,3.1437,6.1908,5.3637,8.1834c2.2199,1.9954,4.835,2.9902,7.8451,2.9902
    c3.1608,0,5.8327-1.768,8.0157-5.304c2.183-3.5388,3.2745-7.7883,3.2745-12.7569c0-5.4944-1.1682-9.7467-3.499-12.7569
    c-2.7117-3.536-6.964-5.304-12.7597-5.304h-4.5138v-5.4177l15.8068-27.3215H87.5073l-1.0858,1.8476L63.2187,91.9529h-1.1284
    L45.155,35.286L28.2197,91.9557h-1.1284L0,0.5145h11.853l16.3696,55.6549l11.0656-37.4775L33.8705,0.5145
    C33.8705,0.5145,45.7206,0.5145,45.7206,0.5145z M184.4401,0.5145c-2.328,0-4.4171,0.8385-6.0004,2.4473
    c-1.6799,1.7055-2.615,3.9112-2.615,6.1908s0.8897,4.3916,2.5212,6.0487c1.6571,1.6799,3.7918,2.5923,6.097,2.5923
    c2.2541,0,4.4399-0.9124,6.1425-2.5667c1.6315-1.5832,2.5184-3.698,2.5184-6.0743c0-2.3052-0.9124-4.4626-2.4957-6.0714
    C188.951,1.4013,186.7908,0.5145,184.4401,0.5145z M191.9527,9.2266c0,1.9925-0.7703,3.8401-2.1858,5.2073
    c-1.4866,1.4411-3.3342,2.2086-5.375,2.2086c-1.9186,0-3.8145-0.7902-5.2301-2.2313c-1.4155-1.4383-2.2086-3.2887-2.2086-5.2557
    s0.8158-3.8885,2.2796-5.375c1.3672-1.3928,3.2148-2.1347,5.2301-2.1347c2.0636,0,3.9112,0.7703,5.3523,2.2313
    C191.2079,5.267,191.9527,7.1402,191.9527,9.2266z M184.6817,4.0903h-3.6952v9.7922h1.8476V9.7069h1.8248l1.9925,4.1755h2.0636
    l-2.1858-4.4655c1.4155-0.2871,2.2313-1.2478,2.2313-2.6378C188.7606,5.0027,187.4161,4.0903,184.6817,4.0903z M184.3434,5.2898
    c1.7282,0,2.5184,0.4804,2.5184,1.6799c0,1.1512-0.7902,1.5605-2.4729,1.5605h-1.5605V5.2898
    C182.8284,5.2898,184.3434,5.2898,184.3434,5.2898z M169.9067,0l1.9215,11.6739l-6.7963,13.0041c0,0-2.6094-5.5172-6.9441-8.57
    c-3.6525-2.5724-6.0317-3.1324-9.7524-2.3649c-4.7781,0.9863-10.1958,6.6996-12.5607,13.7432
    c-2.8282,8.4278-2.8567,12.5067-2.9561,16.2531c-0.1592,6.0061,0.7874,9.5563,0.7874,9.5563s-4.1244-7.6348-4.0874-18.8169
    c0.0256-7.9816,1.2819-15.2184,4.9743-22.3615c3.2489-6.2789,8.0782-10.048,12.3646-10.4914
    c4.4314-0.4576,7.9332,1.677,10.6392,3.9908c2.8396,2.4274,5.7133,7.7314,5.7133,7.7314L169.9067,0z M170.7452,66.0526
    c0,0-3.0045,5.3694-4.8748,7.4387c-1.8732,2.0693-5.2216,5.7133-9.3573,7.5353c-4.1386,1.822-6.3045,2.1659-10.3919,1.7737
    c-4.0846-0.3923-7.8821-2.7572-9.2123-3.7435c-1.3303-0.9863-4.7298-3.8913-6.6485-6.6001
    c-1.9215-2.7117-4.9259-8.1265-4.9259-8.1265s1.6742,5.4319,2.7231,7.7343c0.6026,1.3246,2.4559,5.3836,5.088,8.9139
    c2.4502,3.2944,7.2169,8.965,14.4566,10.2441c7.2397,1.2819,12.214-1.9698,13.4447-2.76c1.2308-0.7874,3.8259-2.959,5.4688-4.7156
    c1.714-1.8334,3.337-4.1727,4.2352-5.5769c0.6566-1.0233,1.7254-3.1039,1.7254-3.1039L170.7452,66.0526z"/>
</svg>
