<% if @results.any? %><h2><%= @results.count %> errors</h2><% end %>
<ul>
<% @results.each do |result| %>
  <li>
    <p class='error message'>
      <% result.each do |message| %>
        <%= message %><br />
      <% end %>
    </p>
  </li>
<% end %>
</ul>
