<%= render 'shared/messages' %>
<% if @results.any? %>
  <% if @results['PASS'] %>
    <section class="results-passing">
      <h2 class="results-title">&#9786; Passing</h2>
      <ol>
        <% @results['PASS'].each do |result| %>
          <li class="result-item"><h3 class="result-item-title"><%= result['title'] %></h3></li>
        <% end %>
      </ol>
    </section>
  <% end %>

  <% if @results['FAIL'] %>
    <section class="results-failing">
      <h2 class="results-title">&#9785; Failing</h2>
      <ol>
        <% @results['FAIL'].each do |result| %>
          <li class="result-item">
            <h3 class="result-item-title"><%= result['title'] %>:</h3>

            <% result['element_names'].each do |name| %>
              <pre><code class="language-markup"><%= name %></code></pre>
            <% end %>
          </li>
        <% end %>
      </ol>
    </section>
  <% end %>
<% end %>
