.app-header {
  background-color: $wake;
  margin-bottom: $base-spacing * 2;
  padding-top: $base-spacing;
}

.app-logo-svg {
  float: left;
  margin-bottom: $base-spacing;

  path,
  text,
  circle
   {
    fill: $base-font-color;
  }

  a:hover,
  a:active,
  a:focus {
    path,
    text,
    circle
     {
      fill: $fire;
    }
  }
}

.app-tagline {
  @include position(absolute, null 0 1em null);
  font-size: modular-scale(16px, 2, 1.333);
  text-align: right;
}
