.app-footer {
  background-color: $tide;

  .container {
    max-width: 16em;
  }
}

.app-footer-inner {
  @include padding(($base-spacing * 2.5) null ($base-spacing * 2.5));
  background-color: $wake;
  border-bottom-left-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
}

.app-footer-title,
.app-footer-copyright {
  background-color: $base-font-color;
  color: $sand;
  margin: 0;
  padding: strip-units($base-spacing) * 1rem;
}

.app-footer-title {
  font-size: $base-font-size;

  .app-logo-svg {
    max-width: 100%;

    path,
    circle{
      fill: $sand;
    }
  }
}

.app-footer-copyright {
  margin-bottom: 0.5em;
  padding-top: 0;
}

.footer-navigation-list-item {
  display: inline;

  &:not(:last-child){
    padding-right: 1em;
  }
}
