.app-header {
  background-color: $sand;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
}

.app-header-gripdots,
.app-header-main {
  @extend %baseline;
}

.app-header-gripdots {

  &:before {
    clear: both;
    content: "";
    display: table;
  }

  .app-header-sign-in {
    float: right;
    line-height: 4;
    text-decoration: none;
    white-space: nowrap;
  }

  .gripdots-svg {
    display: block;
    float: left;
    margin: 1.125em;
  }
}

.app-header-main {

  .container {
    padding-top: $base-spacing * 1.5;
    padding-bottom: $base-spacing * 1.5;
  }
}

.app-title {
  margin: 0;

  @media screen and (min-width: $large-screen) {
    float: right;
    width: 40%;
  }

  .app-logo-svg {
    path,
    text,
    circle
     {
      fill: $base-font-color;
    }
  }

  .app-title-link:hover,
  .app-title-link:active,
  .app-title-link:focus {

    .app-logo-svg {
      path,
      text,
      circle
       {
        fill: $fire;
      }
    }
  }
}

.app-tagline {
  margin: 1em 0 0 0;

  @media screen and (min-width: $large-screen) {
    margin-top: 0;
    float: left;
    width: 60%;
  }

  ol {
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 1.5em;
  }

  li:not(:last-child) {
    margin-bottom: .5em;
  }
}


