.results-title {
  font-size: modular-scale(16px, 2, 1.333);
  margin: $base-spacing 0 ($base-spacing / 2);
}

.results-passing {
  .results-title {
    color: shade(#76CD9C, 10%);
  }
}

.results-failing {
  .results-title {
    color: $fire;
  }
}

.result-item {
  margin-bottom: $base-spacing / 2;
  font-size: modular-scale(16px, 0, 1.333);
  margin-top: $base-spacing;
}
