@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";

@import "prism";

@import "components/**/*";
@import "audit";
@import "app-header";
@import "app-main";
@import "app-footer";
@import "results";

.container {
  @include clearfix;
  position: relative;
  width: 90%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}
